@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-save {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-save:hover {
    background-color: #0056b3;
}

body {
    background-image: url('/images/background.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

button.bg-red-500 {
    background-color: #f56565;
    padding: 5px 10px;
    border-radius: 4px;
    color: white;
    font-weight: bold;
}

button.bg-red-500:hover {
    background-color: #e53e3e;
}


